<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="navbar" xmlns:th="http://www.thymeleaf.org">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Punto Gráfico</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/crear-orden}">Crear orden</a>
        </li>
      </ul>
    </div>
  </div>
</nav>