<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" th:fragment="navbar" xmlns:th="http://www.thymeleaf.org">
  <div class="container-fluid">

    <!-- Logo con margen derecho -->
    <img th:src="@{/img/isologotipo-amarillo.png}" alt="Isologotipo" class="isologotipo me-3"/>

    <!-- Botón hamburguesa -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido del navbar -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto custom-nav"> <!-- ⬅️ items de la izquierda -->

        <li class="nav-item">
          <a class="nav-link d-flex align-items-center custom-gap" th:href="@{/home}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff"
                 class="bi bi-house-fill flex-shrink-0" viewBox="0 0 16 16">
              <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
              <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
            </svg>
            <span class="palabra-menu">INICIO</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link d-flex align-items-center custom-gap" th:href="@{/listado}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff"
                 class="bi bi-card-list" viewBox="0 0 16 16">
              <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
              <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
            </svg>
            <span class="palabra-menu">LISTADO</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link d-flex align-items-center custom-gap" th:href="@{/buscador}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff"
                 class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
            <span class="palabra-menu">BUSCADOR</span>
          </a>
        </li>
      </ul>

      <!-- Nombre de usuario centrado -->
      <ul class="navbar-nav mx-auto custom-nav">
        <li class="nav-item">
          <span class="nav-link nav-nombre-usuario" th:text="${empleado.nombre}"></span>
        </li>
      </ul>

      <!-- Logout a la derecha -->
      <ul class="navbar-nav ms-auto custom-nav">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center custom-gap" href="/logout">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff"
                 class="bi bi-box-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
              <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
            </svg>
            <span class="palabra-menu">CERRAR SESIÓN</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
