.titulo-tabla-ordenes {
    font-family: 'Lemon Milk';
}

.contenedor-pagina-en-proceso {
    width: 95%;
    height: 95%;
}

.pagina-en-proceso {
    width: 100%;
}

.capitalize:first-letter {
    text-transform: uppercase;
}