@font-face {
  font-family: 'Lemon Milk';
  src: url('../fonts/LEMONMILK-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nanum';
  src: url('../fonts/NanumPenScript-Regular.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat';
    font-size: 0.95rem;
}

.navbar {
    padding: 1em;
    background-color: #E52987 !important;
}

img.isologotipo {
    width: 100px;
}

.navbar p {
    margin-bottom: 0;
}