h4, h6 {
    font-family: 'Lemon Milk';
}

.contenedor-orden-impresion {
    margin: 36px;
    padding: 18px 36px;
}

.contenedor-datos-orden-impresion {
    padding: 18px;
}

.divider {
    border: none;
    border: 1px solid #d7d7d7;
    margin: 8px 0;
}